<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsT77kOllYYRbsTZHwJR5NS632OfUFHSM</string>
	<key>GCM_SENDER_ID</key>
	<string>1026021401044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tictactoe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>socialpixels-dca76</string>
	<key>STORAGE_BUCKET</key>
	<string>socialpixels-dca76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026021401044:ios:9854cd13836e7980b43641</string>
</dict>
</plist>